
<header id="header">
    <!-- Top bar -->
    <div class="top-bar">
        <img src="data/option1/top.jpg" class="hidden-xs" />
        <div class="container">

            <div class="row">
                <ul class="top-bar-link top-bar-link-left"></ul>
                <ul class="top-bar-link top-bar-link-right dot">
                    <li><a href="compare.html">مقایسه کنید</a></li>
                    <li><a href="login.html">ورود به حساب کاربری</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Top bar -->
    <div class="container">
        <!-- box header -->
        <div class="row">
            <div class="box-header">
                <div class="col-sm-12 col-md-12 col-lg-3"></div>
                <div class="block-wrap-search col-sm-6 col-md-6 col-lg-5" dir="rtl">
                    <div class="advanced-search box-radius">
                        <form class="form-inline">
                            <div class="form-group search-category">
                                <select id="category-select" class="search-category-select">
                                    <option value="1">همه دسته بندی ها</option>
                                    <option value="2">مرد</option>
                                    <option value="3">زن</option>
                                </select>
                            </div>
                            <div class="form-group search-input">
                                <input type="text" placeholder="جستجو">
                            </div>

                        </form>
                    </div>
                </div>
                <div class="wrap-block-cl col-sm-3 col-md-3 col-lg-2" style="text-align:center">
                    <div class="inner-cl box-radius">
                        <div id="txt"></div>
                    </div>
                </div>
                <div class="block-wrap-cart col-sm-3 col-md-3 col-lg-2">
                    <div class="iner-block-cart box-radius">
                        <a href="cart.html">
                            <span class="total">جمع کل: 3240</span>
                        </a>
                    </div>
                    <div class="block-mini-cart" dir="rtl">
                        <div class="mini-cart-content">
                            <h5 class="mini-cart-head">محصولات موجود در سبد</h5>
                            <div class="mini-cart-list">
                                <ul>
                                    <li class="product-info">
                                        <div class="p-left">
                                            <a href="#" class="remove_link"></a>
                                            <a href="cart.html">
                                                <img class="img-responsive" src="data/p1.jpg" alt="Product">
                                            </a>
                                        </div>
                                        <div class="p-right">
                                            <p class="p-name">ویندوز فون</p>
                                            <p class="product-price">قیمت:450</p>
                                            <p>تعداد:4</p>
                                        </div>
                                    </li>
                                    <li class="product-info">
                                        <div class="p-left">
                                            <a href="#" class="remove_link"></a>
                                            <a href="cart.html">
                                                <img class="img-responsive" src="data/p2.jpg" alt="Product">
                                            </a>
                                        </div>
                                        <div class="p-right">
                                            <p class="p-name">گلکسی s4</p>
                                            <p class="product-price">قیمت:720</p>
                                            <p>تعداد:2</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="toal-cart">

                                <span class="toal-price pull-right"></span><span>جمع کل: 3240</span>
                            </div>
                            <div class="cart-buttons">
                                <a href="cart.html" class="button-radius btn-check-out">نمایش سبد<span class="icon"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./box header -->
        <!-- main header -->
        <div class="row">
            <div class="main-header">
                <div class="row" style="text-align: center;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a href="index-2.html"><img src="data/option1/logo.png" alt="Logo"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ./main header -->
    </div>
    <!-- main menu-->

    <div class="main-menu">
        <div class="container">
            <div class="row">
                <nav class="navbar" id="main-menu">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">منو</a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <i class="fa fa-bars"></i>
                            </button>

                        </div>
                        <div id="navbar" class="navbar-collapse collapse pull-right">
                            <ul class="nav navbar-nav">








                                <li class="active"><a href="index-2.html">خانه</a></li>
                                <li class="dropdown">
                                    <a href="Prodact.html" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="data/icon_sale.png" class="hidden-xs" alt="وضعیت رده"><font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                کالای دیجیتال
                                            </font>
                                        </font>
                                    </a>
                                    <ul class="dropdown-menu mega_dropdown hidden-xs" role="menu" style="width: 900px; left: 240px;">

                                        <li class="block-container col-sm-3 border">
                                            <div class="img_container banner-hover">
                                                <a href="#">
                                                    <img class="img-responsive" src="data/banner/b13.png" alt="ورزش">
                                                </a>
                                            </div>
                                        </li>

                                        <li class="block-container col-sm-3 border">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header" style="background: #ffe0e3; color:#313131; border-bottom-left-radius: 90px;">
                                                    <a href="#">لوازم جانبی گوشی</a>
                                                </li>
                                                <li class="link_container"><a href="#">کیبورد</a></li>
                                                <li class="link_container"><a href="#">ماوس</a></li>
                                                <li class="link_container"><a href="#">کیس کامپیوتر</a></li>
                                                <li class="link_container"><a href="#"> دوربین های کنفرانس</a></li>
                                                <li class="link_container"><a href="#">خنک‌‌ کننده و فن</a></li>
                                                <li class="link_container"><a href="#">کیف و کاور</a></li>
                                                <li class="link_container"><a href="#"> خردکن اداری</a></li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3 border">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header" style="background: #ffe0e3; color:#313131;">
                                                    <a href="#">گوشی موبایل</a>
                                                </li>
                                                <li class="link_container"><a href="#">گوشی اپل، آیفون</a></li>
                                                <li class="link_container"><a href="#">گوشی سامسونگ</a></li>
                                                <li class="link_container"><a href="#">گوشی هواوی</a></li>
                                                <li class="link_container"><a href="#">گوشی شیائومی</a></li>
                                                <li class="link_container"><a href="#">گوشی ال‌ جی</a></li>
                                                <li class="link_container"><a href="#">گوشی نوکیا</a></li>
                                                <li class="link_container"><a href="#">گوشی اچ‌ تی‌ سی</a></li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header" style="background: #ffe0e3; color:#313131; border-bottom-right-radius: 90px;">
                                                    <a href="#">لپ تاپ و کامپیوتر</a>
                                                </li>
                                                <li class="link_container"><a href="#">لپ‌تاپ و نوت‌بوک</a></li>
                                                <li class="link_container"><a href="#">کامپیوتر و مانیتور</a></li>
                                                <li class="link_container"><a href="#">قطعات کامپیوتر</a></li>
                                                <li class="link_container"><a href="#">ماشین‌‌های اداری</a></li>
                                                <li class="link_container"><a href="#">تجهیزات ذخیره‌سازی </a></li>
                                                <li class="link_container"><a href="#">دوربین مدار بسته</a></li>
                                                <li class="link_container"><a href="#">لوازم اداری</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="Prodact.html" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="data/icon_hot.png" class="hidden-xs" alt="وضعیت رده"><font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                آرایشی، بهداشتی و سلامت
                                            </font>
                                        </font>
                                    </a>
                                    <ul class="dropdown-menu mega_dropdown hidden-xs" role="menu" style="width: 900px; left: 350px;">

                                        <li class="block-container col-sm-3 border">
                                            <div class="img_container banner-hover">
                                                <a href="#">
                                                    <img class="img-responsive" src="data/banner/b12.png" alt="ورزش">
                                                </a>
                                            </div>
                                        </li>

                                        <li class="block-container col-sm-3 border">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header" style="background: #ffe0e3; color:#313131; border-bottom-left-radius: 90px;">
                                                    <a href="#">اصلاح و پیرایش</a>
                                                </li>
                                                <li class="link_container"><a href="#">اپیلاتور </a></li>
                                                <li class="link_container"><a href="#">آرایش</a></li>
                                                <li class="link_container"><a href="#">کرم ها و لوسیون ها</a></li>
                                                <li class="link_container"><a href="#">کرم های ضد آفتاب</a></li>
                                                <li class="link_container"><a href="#">بسته های صورت / صورت</a></li>
                                                <li class="link_container"><a href="#">اسپری و بدن گرانبها</a></li>
                                                <li class="link_container"><a href="#">بهداشت زنان</a></li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3 border">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header" style="background: #ffe0e3; color:#313131;">
                                                    <a href="#">جواهر و زیورآلات</a>
                                                </li>
                                                <li class="link_container"><a href="#"> گوشواره</a></li>
                                                <li class="link_container"><a href="#">انگشتر</a></li>
                                                <li class="link_container"><a href="#"> گردنبند</a></li>

                                                <li class="link_container group_header" style="background: #ffe0e3; color:#313131;">
                                                    <a href="#">لوازم زینتی</a>
                                                </li>
                                                <li class="link_container"><a href="#">آویز وجاکلیدی  </a></li>

                                                <li class="link_container"><a href="#">چراغ قوه</a></li>


                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header" style="background: #ffe0e3; color:#313131; border-bottom-right-radius: 90px;">
                                                    <a href="#">عطر، ادکلن، اسپری </a>
                                                </li>
                                                <li class="link_container"><a href="#">حمام و بدن</a></li>
                                                <li class="link_container"><a href="#">آرایش</a></li>
                                                <li class="link_container"><a href="#">کرم ها و لوسیون ها</a></li>
                                                <li class="link_container"><a href="#">کرم های ضد آفتاب</a></li>
                                                <li class="link_container"><a href="#">بسته های صورت / صورت</a></li>
                                                <li class="link_container"><a href="#">اسپری و بدن گرانبها</a></li>
                                                <li class="link_container"><a href="#">بهداشت زنان</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="Prodact.html" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="data/icon_new.png" class="hidden-xs" alt="وضعیت رده"><font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                خودرو، ابزار و اداری
                                            </font>
                                        </font>
                                    </a>
                                    <ul class="dropdown-menu mega_dropdown hidden-xs" role="menu" style="width: 900px; left: 140px;">

                                        <li class="block-container col-sm-3 border">
                                            <div class="img_container banner-hover">
                                                <a href="#">
                                                    <img class="img-responsive" src="data/banner/b14.png" alt="ورزش">
                                                </a>
                                            </div>
                                        </li>

                                        <li class="block-container col-sm-3 border">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header" style="background: #ffe0e3; color:#313131; border-bottom-left-radius: 90px;">
                                                    <a href="#">مدل پرطرفدار</a>
                                                </li>
                                                <li class="link_container"><a href="#">حمام و بدن</a></li>
                                                <li class="link_container"><a href="#">آرایش</a></li>
                                                <li class="link_container"><a href="#">کرم ها و لوسیون ها</a></li>
                                                <li class="link_container"><a href="#">کرم های ضد آفتاب</a></li>
                                                <li class="link_container"><a href="#">بسته های صورت / صورت</a></li>
                                                <li class="link_container"><a href="#">اسپری و بدن گرانبها</a></li>
                                                <li class="link_container"><a href="#">بهداشت زنان</a></li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3 border">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header" style="background: #ffe0e3; color:#313131;">
                                                    <a href="#">مدل پرطرفدار</a>
                                                </li>
                                                <li class="link_container"><a href="#">حمام و بدن</a></li>
                                                <li class="link_container"><a href="#">آرایش</a></li>
                                                <li class="link_container"><a href="#">کرم ها و لوسیون ها</a></li>
                                                <li class="link_container"><a href="#">کرم های ضد آفتاب</a></li>
                                                <li class="link_container"><a href="#">بسته های صورت / صورت</a></li>
                                                <li class="link_container"><a href="#">اسپری و بدن گرانبها</a></li>
                                                <li class="link_container"><a href="#">بهداشت زنان</a></li>
                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header" style="background: #ffe0e3; color:#313131; border-bottom-right-radius: 90px;">
                                                    <a href="#">عطر، ادکلن، اسپری </a>
                                                </li>
                                                <li class="link_container"><a href="#">حمام و بدن</a></li>
                                                <li class="link_container"><a href="#">آرایش</a></li>
                                                <li class="link_container"><a href="#">کرم ها و لوسیون ها</a></li>
                                                <li class="link_container"><a href="#">کرم های ضد آفتاب</a></li>
                                                <li class="link_container"><a href="#">بسته های صورت / صورت</a></li>
                                                <li class="link_container"><a href="#">اسپری و بدن گرانبها</a></li>
                                                <li class="link_container"><a href="#">بهداشت زنان</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="Prodact.html" class="dropdown-toggle" data-toggle="dropdown">مد و پوشاک</a>
                                    <ul class="dropdown-menu mega_dropdown container-fluid" style="width: 261px; left: 380px;">
                                        <li class="block-container">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container"><a href="#">سیار</a></li>
                                                <li class="link_container"><a href="#">قرص ها</a></li>
                                                <li class="link_container"><a href="#">لپ تاپ</a></li>
                                                <li class="link_container"><a href="#">کارت های حافظه</a></li>
                                                <li class="link_container"><a href="#">تجهیزات جانبی</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li><a href="Prodact.html">خانه و آشپزخانه</a></li>

                                <li><a href="Prodact.html">کتاب، لوازم تحریر و هنر</a></li>

                                <li><a href="Prodact.html"> فروش ویژه</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- ./main menu-->
</header>

